
  
  .telas{
    max-width: 900px;
    width: 200%;
    height: auto;
    margin-left: -100px;
  
  }


   .descricao{
    font-family: bold;
    font-size: 10px;   
    letter-spacing: -6px;
    margin-top: 35px;
    margin-left: 40px;
   }
  
   .um{
    color: #000;
    font-size: 90px;
   }
  
   .dois{
    color: #3a3a3a;
    font-size: 90px;
    margin-top: -40px;
  
   }
  
   .tres{
    color: #737373;
    font-size: 90px;
    margin-top: -40px;
  
   }
  
   .quatro{
    color: #b1b1b1;
    font-size: 90px;
    margin-top: -40px;
  
   }
  
  
  .borderTelas{
    border:  1px solid #bcbcbc;
    border-radius: 30px;
    width: 95%;
    height: 40rem;
    margin: 1rem auto;
    overflow: hidden;
    
  }
  
  
  /* media querty */
  
  @media (max-width: 480px) {

     .telas{
      max-width: 900px;
      width: 150%;
      height: auto;
      margin-left: -100px;
    
    }
  
     .descricao{
      font-family: bold;
      letter-spacing: -6px;
      margin-top: 35px;
      margin-left: 13px;
     }
    
     .um{
      color: #000;
      font-size: 60px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 60px;
      margin-top: -30px;
    
     }
  }   
  
  
  
  @media (max-width: 600px) {
  
    .um{
      color: #000;
      font-size: 50px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 50px;
      margin-top: -30px;
  }
  
  }