.containerMain{
    height: 100vh;
    background-color: #ebebeb;  
}

.title{
    font-size: 100px;
    font-family: extrabold;
    color: #000;
    justify-content: center;
    display: flex;
    margin: 3rem auto ;
    letter-spacing: -5px;
    padding: 50px;
}

.linha{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #6f6f6f;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 100px;
}


#cardbody{
    background-color: #1c1c1c;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.TextCard{
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: regular;
}

#cardbody:hover{
    box-shadow: rgba(0, 0, 0, 0.874) 0px 20px 40px;

}

.lineCard{
    color: rgb(0, 0, 0);
}

.icon{
    color: #0063da;
    padding: 5px;
}

.titleCard{
    color: white;
    transition: all .1s ease-in-out;
    font-family: extrabold;
}


@media (max-width: 600px) {
    .title{
        font-size: 50px;
    }

    #cardbody{
        transition: all .1s ease-in-out;
    }

    .card{
        margin-top: 10px;
    }

    .linha{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 100px;
        margin-bottom: 10px;
    }
}



