.container {
  position: relative;
  width: 100%;
}

 .backgroundContainer {
  background-image: url('../../public/Img/outlines.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
} 


.logo {
 max-width: 600px;
 width: 100%;
 height: auto;
 margin: auto 50px;
}

.cube {
 max-width: 900px;
 width: 200%;
 height: auto;
 display: block;

}


.contentlogo{
  margin: 6rem auto;
}

.destaque {
  color: #0063da; 
  margin-top: 21rem;
 }


 .subtitle{
  color: rgb(209, 209, 209);
  font-family: bold;
  font-size: 1.5rem;
 }



.borderTelas{
  border:  1px solid #bcbcbc;
  border-radius: 30px;
  width: 95%;
  height: 40rem;
  margin: 1rem auto;
  overflow: hidden;
  
}

 .buttonconhecamais{
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: white;
  color: black;
  font-family: regular;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 30%;
  margin-left: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
 }

 
 .buttonconhecamais:hover{
  background-color: #0063da;
  color: #ffff;
 
 }

 
.icon ion-icon {
  font-size: 40px; 
  color: white;
  transition: all .1s ease-in-out;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon ion-icon:hover {
  font-size: 40px; 
  color: #0063da;
}  


.buttonconhecamais {
  margin-right: 2rem; 
}

/* media querty */

@media (max-width: 480px) {

  .logo {
    position: absolute;
    width: 80%;     
  }  
   
  .subtitle{
    color: white;
    font-family: bold;
    font-size: 50px;
   } 


  .cube {
    display: none;
   } 

}   


@media (max-width: 600px) {

  .logo {
    margin-top: -100px;
    width: 75%; 
  }

  .cube {
    display: none;
   
   }

  .subtitle{
    color: white;
    font-family: bold;
    font-size: 30px;
    margin: 3rem;
   }

   .contentlogo{
    margin-left: 0rem;
  }


}

@media (max-width: 1200px) {

   .contentlogo{
    margin: 0 auto;
  }
}

@media (max-width: 900px){

  .logo {
    margin-top: -90px;
    width: 86%; 
  }

  .cube {
    max-width: 900px;
    width: 140%;
    height: auto;
    display: block;
    margin-left: -50px;
   
   }

  .subtitle{
    color: white;
    font-family: bold;
    font-size: 30px;
    margin: 3rem;
   }

}

@media (max-width: 1000px){

  .logo {
    margin-top: -30px;
    margin-bottom: -30px;
    width: 86%; 
  }

  .cube {
    max-width: 900px;
    width: 140%;
    height: auto;
    display: block;
    margin-left: -50px;
   
   }
   
  .subtitle{
    color: white;
    font-family: bold;
    font-size: 30px;
    margin: 3rem;
   }

}


@media (max-width: 750px) {

  .logo {
    margin-top: -100px;
    width: 65%; 
  }

  .cube {
      display: none;
   }

  .subtitle{
    color: white;
    font-family: bold;
    font-size: 30px;
    margin: 3rem;
   }

}