.title{
    font-size: 100px;
    font-family: bold;
    color: #000;
    justify-content: center;
    display: flex;
    margin: 7rem auto;
    letter-spacing: -5px;
}

.linha{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #6f6f6f;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 100px;
}


#cardbody{
    background-color: #000000;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: solid 3px #262626;
    transition: all .2s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#cardbody:hover{
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.lineCard{
    color: rgb(255, 255, 255);
}

.icon{
    color: rgb(13, 136, 202);
    padding: 5px;
}

.titleCard{
    color: white;
    font-family: bold;
}

.TextCard{
    color: white;
    padding: 15px;
}

@media (max-width: 600px) {
    .title{
        font-size: 50px;
    }

    #cardbody{
        transition: all .1s ease-in-out;
    }

    .card{
        margin-top: 10px;
    }

    .linha{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 100px;
        margin-bottom: 10px;
    }
}



