
  
  .telas{
    max-width: 900px;
    width: 200%;
    height: auto;
    margin-left: -100px;
  
  }

  .containerMain{
    height: 700px;
    margin-top: 100px;
  }


   .descricao{
    font-family: bold;
    font-size: 10px;   
    letter-spacing: -6px;
    margin-top: 35px;
    margin-left: 40px;
   }
  
   .um{
    color: #000;
    font-size: 90px;
    transition: all .2s ease-in-out;
   }
  
   .dois{
    color: #3a3a3a;
    font-size: 90px;
    margin-top: -40px;
    transition: all .2s ease-in-out;
   }
  
   .tres{
    color: #737373;
    font-size: 90px;
    margin-top: -40px;
    transition: all .2s ease-in-out;
   }
  
   .quatro{
    color: #b1b1b1;
    font-size: 90px;
    margin-top: -40px;
    transition: all .2s ease-in-out;
   }
  
   .um:hover, .dois:hover, .tres:hover, .quatro:hover{
    font-size: 95px;
    color: rgb(16, 103, 210);
    cursor:pointer
   }
  
  
  /* media querty */
  
  @media (max-width: 480px) {

     .telas{
      max-width: 900px;
      width: 150%;
      height: auto;
      margin-left: -100px;
    
    }
  
     .descricao{
      font-family: bold;
      letter-spacing: -6px;
      margin-top: 30px;
      margin-left: 13px;
     }
    
     .um{
      color: #000;
      font-size: 60px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 60px;
      margin-top: -30px;
    
     }
  }   
  
  
  
  @media (max-width: 600px) {
  
    .um{
      color: #000;
      font-size: 50px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 50px;
      margin-top: -30px;
  }
  
  }

  
  @media (max-width: 1300px) {

    .um{
      color: #000000;
      font-size: 70px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 70px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 70px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 70px;
      margin-top: -30px;
  }

    .telas{
      max-width: 900px;
      width: 150%;
      height: auto;
      margin-left: -100px;
    
    }

  }

  
  
  @media (max-width: 950px) {
  
    .um{
      color: #000;
      font-size: 60px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 60px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 60px;
      margin-top: -30px;
     }

    .borderTelas{
      border:  1px solid #bcbcbc;
      border-radius: 30px;
      width: 95%;
      height: 40rem;
      margin: 5rem auto;
      overflow: hidden;
    }

    .telas{
      max-width: 900px;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  

   
  @media (max-width: 375px) {
  
    .um{
      color: #000;
      font-size: 50px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 50px;
      margin-top: -30px;
     }

    .borderTelas{
      border:  1px solid #bcbcbc;
      border-radius: 30px;
      width: 95%;
      height: 30rem;
      margin: 5rem auto;
      overflow: hidden;
    }

    .telas{
      max-width: 900px;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  
  
  @media (max-width: 896px) {
  
    .um{
      color: #000;
      font-size: 50px;
     }
    
     .dois{
      color: #3a3a3a;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .tres{
      color: #737373;
      font-size: 50px;
      margin-top: -30px;
    
     }
    
     .quatro{
      color: #b1b1b1;
      font-size: 50px;
      margin-top: -30px;
     }

    .borderTelas{
      border:  1px solid #bcbcbc;
      border-radius: 30px;
      width: 95%;
      height: 30rem;
      margin: 5rem auto;
      overflow: hidden;
    }

    .telas{
      max-width: 900px;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  