/* .borderTelas{
    border:  1px solid #bcbcbc;
    border-radius: 30px;
    width: 95%;
    height: 45rem;
    margin: 3rem auto;
    overflow: hidden;
    
  } */

  .title{
    font-family: bold;
    color:#000;
    font-size: 10rem;
    letter-spacing: -20px;
    margin-left: 1.5rem;
    padding: 1rem;
  }


  .containerCenter{
    width: 70%;
    margin: 0 auto;
    height: 600px;
  }
/* 
  .subtitle{
    color: black;
    font-family: regular;
    text-align: justify;
    width: 60%;
    margin-left: 6rem;
    margin-top: -60px;
    letter-spacing: -1px;
    line-height: 1.1;
    
  }
   */
  .subtitle{
    color: black;
    font-family: regular;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-top: -50px;
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 1.5rem;
  }

  .dot{
    font-family: sfpro;
    margin-left: -15px;
  }

  .destaque {
    color: #0063da; 
   }
  

  /* mediaquerty */

  @media (max-width: 600px){
    .borderTelas{
        width: 95%;
        height: 70rem;
        margin: 1rem auto;
      }

      .title{
        font-family: bold;
        color:#000;
        font-size: 140px;
        letter-spacing: -20px;
        margin-left: 0rem;
        padding: 1rem;
        margin-bottom: 2rem;
      }

      .dot{
        font-family: sfpro;
        margin-left: -10px;
      }

      .subtitle{
        color: black;
        font-family: regular;
        width: 90%;
        margin: 0 auto;
        margin-top: -60px;
        letter-spacing: -1px;
        line-height: 1.1;
      }
  }
    
  
  @media (max-width: 900px){
    .borderTelas{
      width: 95%;
      height: 55rem;
      margin: 1rem auto;
    }

    .title{
      font-size: 140px;
      letter-spacing: -20px;
      margin-left: 10rem;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    
    .dot{
      font-family: sfpro;
      margin-left: -10px;
    }

  }
  
  @media (max-width: 900px){
    .borderTelas{
      width: 95%;
      height: 55rem;
      margin: 1rem auto;
    }

    .title{
      font-size: 140px;
      letter-spacing: -20px;
      margin-left: 10rem;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    
    .dot{
      font-family: sfpro;
      margin-left: -10px;
    }

  }
  
  @media (max-width: 900px){
    .borderTelas{
      width: 95%;
      height: 55rem;
      margin: 1rem auto;
    }

    .title{
      font-size: 140px;
      letter-spacing: -20px;
      margin-left: 10rem;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    
    .dot{
      font-family: sfpro;
      margin-left: -10px;
    }

  }
  
  
  @media (max-width: 375px){
    .borderTelas{
      width: 95%;
      height: 70rem;
      margin: 1rem auto;
    }

    .title{
      font-size: 120px;
      letter-spacing: -13px;
      padding: 2rem;
      margin: 1rem auto;
    }
    
    .dot{
      font-family: sfpro;
      margin-left: -10px;
    }

  }

 
  @media (max-width: 896px){
    .borderTelas{
      width: 95%;
      height: 70rem;
      margin: 1rem auto;
    }

    .title{
      font-size: 120px;
      letter-spacing: -13px;
      padding: 2rem;
      margin: 1rem auto;
    }
    
    .dot{
      font-family: sfpro;
      margin-left: -10px;
    }

  }