.container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);  
    background-color: #00000072;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.modal {
    color: white;
    font-family: bold;
    background-color: rgb(12, 12, 12);
    border: solid 2px #1b1919;
    padding: 30px;
    border-radius: 10px;
    position: relative;
  }
  
  .closeButton {
    background-color: rgb(12, 12, 12);
    border: none;
    color: rgb(255, 0, 0);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; 
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer;
  }

.containerTxt {
    text-align: center;
  }
  
  .text {
    margin-bottom: 20px;
  }
  
  .containerIcon {
    color: #008000; 
  }

  .fade-in {
    opacity: 1; 
  }
