.background {
  background-color: black;
}

.backgroundContainer {
  background-image: url('../../public/Img/atmosphere.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}


.Maintitle {
  color: rgb(209, 209, 209);
  font-family: bold;
  font-size: 160px;
  letter-spacing: -10px;
  width: 70%;
  line-height: 0.9;

}

.Mainsubtitle {
  color: #ffffff;
  font-family: bold;
  font-size: 160px;
  letter-spacing: -10px;
  margin-top: -30px;
}

.dot {
  font-family: sfpro;
  color: #0063da;
}

.title {
  font-size: 100px;
  font-family: extrabold;
  color: #ffffff;
  letter-spacing: -5px;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}

.undertitle {
  font-family: extrabold;
  color: #0063da;
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
}

.description {
  color: rgb(255, 255, 255);
  font-family: regular;
  text-align: justify;
  width: 30%;
  margin: 0 auto;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
}

.containerMissao {
  background-color: #000;
  height: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}

.containerVisao {
  background-color: #151515;
  height: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}

.containerValor {
  background-color: #212121;
  height: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}


.firstLetter {
  color: #0063da;
}


.imgMoyseys {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.noweIcon{
  width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
}


.containerHistoria {
  display: flex;
  background-color: #ffffff;
  color: black;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 4rem;
  width: 100%;
  max-width: 900px; /* Ajuste conforme necessário */
  height: auto;
  padding: 2rem; /* Ajuste conforme necessário */
  margin: rem auto;
}


.titleHistoria {
  font-family: extrabold;
  color: #000000;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 3rem;
}

.descriptionHistoria {
  font-family: regular;
  text-align: justify;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
}

.containerMetodologia {
  height: auto;
  margin-top: 2rem;
  box-sizing: border-box; 
  padding: 3rem;
  margin: 0 auto;
  width: 60%;
}


.beforeTitle{
  font-family: extrabold;
  color:#0063da; 
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  margin-bottom: -60px;
}

.titleMetodologia{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  font-family: extrabold;
  color: black;
  font-size: 8rem;

}

.descriptionMetodologia{
  color: rgb(0, 0, 0);
  font-family: regular;
  text-align: justify;
  width: 60%;
  margin: 0 auto;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
}

ul.descriptionValor {
  list-style: none;
  padding: 0; 
}

ul.descriptionValor li {
  display: block; 
  margin-bottom: 0.5em; 
}

span.firstLetter {
  display: inline-block; 
}

.descriptionValor{
  color: rgb(255, 255, 255);
  font-family: regular;
  text-align: justify;
  width: 30%;
  margin: 0 auto;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
}

@media (max-width: 600px) {


  .Maintitle {
    font-family: bold;
    font-size: 3rem;
    letter-spacing: -4px;
    line-height: 0.9;
    color: white;
  }
  
  .Mainsubtitle {
    color: #ffffff;
    font-family: bold;
    font-size: 6rem;
    letter-spacing: -10px;
    margin-top: -30px;
  }
  
  
.imgMoyseys {
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.noweIcon{
  display: none;
}

.containerHistoria {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: 90%;
  height: auto;
}

.titleHistoria {
  font-family: extrabold;
  color: #000000;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 2.5rem;
  margin-top: 0rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.descriptionHistoria {
  font-family: regular;
  text-align: justify;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
}


.containerMissao {
  background-color: #000;
  height: auto;
  display: grid;
  align-items: center;
  padding: 1rem;
}

.containerVisao {
  background-color: #151515;
  height: auto;
  display: grid;
  align-items: center;
  padding: 1rem;

}

.containerValor {
  background-color: #212121;
  height: auto;
  display: grid;
  align-items: center;
  padding: 1rem;

}

.description {
  color: rgb(255, 255, 255);
  font-family: regular;
  text-align: justify;
  width: 90%;
  margin: 1rem auto;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
}

.title {
  font-size: 4rem;
  font-family: extrabold;
  color: #ffffff;
  letter-spacing: -4px;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  display: flex;
}

.descriptionValor{
  text-align: center;
  width: 90%;
}


.containerMetodologia {
  height: auto;
  margin-top: 5rem;
}

.beforeTitle{
  font-family: extrabold;
  color:#0063da; 
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  margin-bottom: -60px;
}

.titleMetodologia{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  font-family: extrabold;
  color: black;
  font-size: 5rem;
}

.descriptionMetodologia{
  color: rgb(0, 0, 0);
  font-family: regular;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.containerMetodologia {
  height: auto;
  margin-top: 2rem;
  box-sizing: border-box; 
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}


}