.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    border: none;
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px); 
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
 
}

.navItems a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-family: bold;
    transition: all .1s ease-in-out;
}


.navItems a:hover {
    color: #0063da; 
   
}

.weonBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: bold;
    transition: all .1s ease-in-out;
    font-size: 14px;
    margin-right: 2rem;
    border: none;
    text-decoration: none;
}

.weonBtn:hover {
    background-color:#0063da; 
    color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
    
    .navItems a {
        margin-right: 0rem;
        margin-left: 1rem;
    }
    
    .weonBtn {
        margin-right: 0rem;
    }
  }